.App {
  padding: 40px 40px;
  text-align: center;
}

.header {
  padding: 0 80px 20px;
  text-align: left;
}
.Main-grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-right: 35px;
  align-items: start;
}
.Side-bar {
  margin: 15px 10px 0 25px;
  padding: 35px 30px;
  border: 2px solid #d2d2d2;
  border-radius: 10px;
  box-shadow: 0 1px 1px #d2d2d2;
  text-align: left;
  min-width: 200px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}



/*item card*/
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  margin-bottom:50px;
  text-align: center;
}

/*item card hover property*/
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}

/*card text container*/
.text-container{
  padding: 10px 16px;
  margin-bottom: 20px;
}


